@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/* line 3, ../scss/home.scss */
.header {
  background: url(../images/desktop/image-hero.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 72px;
  margin-bottom: 50px;
}
/* line 11, ../scss/home.scss */
.header .content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
/* line 17, ../scss/home.scss */
.header .logo {
  padding: 30px 0;
}
/* line 21, ../scss/home.scss */
.header .nav {
  padding: 30px 0;
}
/* line 25, ../scss/home.scss */
.header ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* line 34, ../scss/home.scss */
.header li {
  list-style: none;
  margin: 0;
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}
/* line 42, ../scss/home.scss */
.header li:hover {
  cursor: pointer;
  border-bottom: solid 2px white;
  opacity: 1;
}
/* line 48, ../scss/home.scss */
.header .text {
  padding-top: 20px;
}
/* line 51, ../scss/home.scss */
.header .text p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  padding: 20px 40px 10px 15px;
  border-width: 1px 1px;
  border-style: solid;
  border-color: white;
  width: 700px;
}

/* line 65, ../scss/home.scss */
.session_1 {
  position: relative;
  padding-top: 50px;
}
/* line 69, ../scss/home.scss */
.session_1 .logo {
  max-width: 100%;
}
/* line 73, ../scss/home.scss */
.session_1 .text {
  position: absolute;
  right: 73px;
  bottom: -15px;
  background: #fff;
  z-index: 5;
  padding: 125px 0 0 77px;
}
/* line 82, ../scss/home.scss */
.session_1 h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
/* line 89, ../scss/home.scss */
.session_1 p {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: #8c8c8c;
}

/* line 96, ../scss/home.scss */
.session_2 {
  margin-top: 50px;
}
/* line 100, ../scss/home.scss */
.session_2 .content {
  display: flex;
  justify-content: space-between;
}
/* line 105, ../scss/home.scss */
.session_2 .text_1 {
  display: flex;
  align-items: center;
}
/* line 110, ../scss/home.scss */
.session_2 .text_2 {
  display: flex;
  align-items: center;
}
/* line 115, ../scss/home.scss */
.session_2 h2 {
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 122, ../scss/home.scss */
.session_2 p {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  border: 1px solid black;
  width: 150px;
  height: 25px;
  padding: 5px;
  text-align: center;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}
/* line 137, ../scss/home.scss */
.session_2 .imagens_col1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
/* line 143, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_1 {
  position: relative;
  cursor: pointer;
}
/* line 147, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_1 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 163, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_2 {
  position: relative;
  cursor: pointer;
}
/* line 167, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_2 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 183, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_3 {
  position: relative;
  cursor: pointer;
}
/* line 187, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_3 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 206, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_4 {
  position: relative;
  cursor: pointer;
}
/* line 210, ../scss/home.scss */
.session_2 .imagens_col1 .imagem_4 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 227, ../scss/home.scss */
.session_2 .imagens_col2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* line 232, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_5 {
  position: relative;
  cursor: pointer;
}
/* line 236, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_5 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 252, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_6 {
  position: relative;
  cursor: pointer;
}
/* line 256, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_6 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 272, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_7 {
  position: relative;
  cursor: pointer;
}
/* line 276, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_7 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}
/* line 292, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_8 {
  position: relative;
  cursor: pointer;
}
/* line 296, ../scss/home.scss */
.session_2 .imagens_col2 .imagem_8 p {
  position: absolute;
  width: 200px;
  bottom: 42px;
  right: 10px;
  z-index: 30;
  background-color: transparent;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: white;
  text-align: left;
  line-height: 1.1;
}

/* line 314, ../scss/home.scss */
.footer {
  background-color: black;
  margin-top: 50px;
}
/* line 318, ../scss/home.scss */
.footer .linha_1 {
  display: flex;
  justify-content: space-between;
}
/* line 322, ../scss/home.scss */
.footer .linha_1 .text {
  padding: 30px 0;
}
/* line 326, ../scss/home.scss */
.footer .linha_1 .logos {
  padding: 30px 0;
}
/* line 329, ../scss/home.scss */
.footer .linha_1 .logos ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* line 334, ../scss/home.scss */
.footer .linha_1 .logos ul li {
  border: 1px solid transparent;
  padding-bottom: 10px;
}
/* line 339, ../scss/home.scss */
.footer .linha_1 .logos ul li:hover {
  cursor: pointer;
  border-bottom: solid 2px white;
  opacity: 1;
}
/* line 348, ../scss/home.scss */
.footer .linha_2 {
  display: flex;
  justify-content: space-between;
}
/* line 353, ../scss/home.scss */
.footer .linha_2 .lista {
  padding: 30px 0;
}
/* line 356, ../scss/home.scss */
.footer .linha_2 .lista ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* line 365, ../scss/home.scss */
.footer .linha_2 .lista ul li {
  list-style: none;
  margin: 0;
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
}
/* line 374, ../scss/home.scss */
.footer .linha_2 .lista ul li:hover {
  cursor: pointer;
  border-bottom: solid 2px white;
  opacity: 1;
}
/* line 382, ../scss/home.scss */
.footer .linha_2 .direitos {
  display: flex;
  align-items: center;
}
/* line 386, ../scss/home.scss */
.footer .linha_2 .direitos p {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: #8c8c8c;
}
